name: BitQuant CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  build:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          
      
      - name: Build 
        env:
          MASSIVE_API_KEY: ${{ secrets.MASSIVE_API_KEY }}
        run: |
          ./build.sh
          
